.container-abaixo{
    width: 100vw;
    height: 50rem;
    background-color: var(--color06);
    margin-bottom: 0;
    position: absolute;
    bottom: 0;
    left: 0;

    border-top-left-radius: 10rem;  
    border-top-right-radius: 10rem; 
    padding: 1.5rem;

    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: nowrap;
}
.container__abaixo--conteudotxt{
    width: 100%;
    text-align: center;
    font-size: 2.4rem;
    margin-top: 3rem;
}
.container__abaixo--conteudotxt h2{
    color: var(--color01);
}
.container__abaixo--descricao{
    font-size: 2rem;
    margin-top: 2rem;
    color: var(--color01);
}