body{
    overflow-x: hidden; 
}
header{
    width: 100vw;
    height: 18vh;    
}

/* Estilo do cabeçalho */
.container-cumprimentacao{
    width: 100vw;
    display: flex;
    justify-content: space-around;
}

#cumprimentacao{
    align-self: center;
    font-size: 2.5rem;
    font-weight: lighter;
}

/* Estilo da data */
.container-header-data{
    margin: 1rem;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}
.data{
    display: flex;
    gap: 0.5rem;
}
.dia-semana{
    color: var(--color05);
    font-weight: 600;
}

/* Estilo da Área Usuario */
.container-header-user{
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 0rem 0rem 0rem 5rem;
}

.container-header-user img{
    width: auto;
    height: 5rem;
    border-radius: 100%;
}

.container-header-user_nome{
    font-size: 2rem;
}

.container-header-user_cargo{
    background-color: var(--color05);
    color: var(--color01);
    margin-right: 10rem;
    text-align: center;
    padding: 0.4rem;
    border-radius: 5rem;
}

/* Estilização da area "Serviço de Hoje" */
main{
    width: 100%;
    height: 100vh;
    background-color: var(--color06);
    border-top-left-radius: 5rem;  
    border-top-right-radius: 5rem; 
}

h1{
    color: var(--color01);
    display: flex;
    margin-left: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 2rem;
}

h1 p{
    color:var(--color03);
    margin-left: 0.5rem;
  
}

hr{
    color: var(--color01);
    margin: 0rem 3rem 0rem 3rem;
}

/* Estilização "serviço a ser feito" */

.container-servico{
    margin: 1rem 1rem 0rem 1rem;
    height: 45%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

.servico{
    background-color: var(--color01);
    border-radius: 1rem;
    height: 35%;
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.5rem;
}

.local{
    font-weight: bold;
}

.servico_urgencia{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.urgencia{
    border: var(--color02) solid 0.1rem;
    border-radius: 0.5rem;
    padding: 1rem;
}

.servico_urgencia i{
    color: var(--color05);
    border: var(--color05) solid 0.2rem;
    padding: 0.5rem;
    border-radius: 5rem ;
    transition-duration: 0.2s;
}

.servico_urgencia i:hover{
   font-size: 2rem;
}

/* Estilo serviços encaminhados */

.container-servico-encaminhado{
<<<<<<< HEAD
    height:auto;
    margin:3rem 1.5rem 0rem 1rem;
=======
    height: 45%;
    margin: 0rem 1rem 0rem 1rem;
>>>>>>> 03aff906f14992d6ef8aa1e2a90d4a5bca68cc5d
}

.container-servico-encaminhado h2{
    font-size: 2rem;
    color: var(--color01);
    margin-left: 1rem;
}

/* Para telas normais (padrão) */
.container-encaminhamento {
    display: grid;
    height: auto;
    grid-template-columns: 1fr; /* Uma coluna */
    gap: 1rem; /* Espaço entre os itens */
}

.servico-encaminhado{
    background-color: var(--color01);
    height: 60%;
    width: 45%;
    margin: 0.5rem;
    border-radius: 1rem;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
   
}

.servico-encaminhado-local{
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: 4rem;

}

.servico-encaminhado-data{
    background-color: var(--color04);
    position: absolute;
    top: 0;
    z-index: 1;
    padding: 1rem 3rem;
    border-top-left-radius: 0.5rem;
    border-bottom-right-radius: 2rem;
    display: flex;
    gap: 0.5rem;
    font-size: 1.5rem ;
    box-shadow: 2px 2px 8px var(--color02);
    
}

.servico-encaminhado-dia-semana{
    font-weight: bold;
}

/* Estilização rodapé "Fazer solicitação"*/

<<<<<<< HEAD
.container-solicitacao{
=======
.container-footer{
    width: 100vw;
    height: 17vh;
    background-color: var(--color06);
>>>>>>> 03aff906f14992d6ef8aa1e2a90d4a5bca68cc5d
    color: var(--color01);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

<<<<<<< HEAD
.container-solicitacao p{
    padding: 0.5rem;
=======
.container-footer p{
    padding: 1rem;
>>>>>>> 03aff906f14992d6ef8aa1e2a90d4a5bca68cc5d
}

/* Estilo do btn-fazer-solicitacao */
.btn-fazer-solicitacao{
    border: var(--color03) solid 0.1rem;
    border-radius: 5rem;
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.158);
    color: var(--color03);
    font-weight: bold;
    transition-duration: 0.2s;
    margin: 0rem 3rem 0rem 3rem;
}

.btn-fazer-solicitacao:hover{
    border: none;
    background: var(--color03);
    color: var(--color01);
}
/* Para telas normais (padrão) */
.container-encaminhamento {
    display: grid;
    height: auto;
    grid-template-columns: 1fr; 
    grid-auto-rows: auto; 
    gap: 1rem; 
    padding: 1rem; 
}

.servico-encaminhado {
    width: 100%; 
    height: auto; 
    padding: 1rem; 
    box-sizing: border-box; 
}
/* -------------------------RESPONSIVIDADE----------------------- */
/* Estilos para telas maiores */
@media (min-width:1000px) {
    main {
        display: flex;
        justify-content: space-between;
    }

    .container-servico {
        width: 50%;
    }
    .container-servico-encaminhado  {
        width: 50%;
    }
    .container-solicitacao{
        width: auto;
        text-align: center;
        
    }
    .container-encaminhamento {
        grid-template-columns: 1fr 1fr; 
        gap: 2rem; 
    }
    .container-encaminhamento {
        grid-template-columns: 1fr 1fr; 
        grid-auto-rows: minmax(150px, auto); 
        gap: 2rem; 
        padding: 1rem; 
    }
}

