
/* Estilo da Topo da Tela (nome do Usuario e data */
header{
  width: 100vw;
  height: 10vh;
  background-color: var(--color04);
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.container-header{
  display: flex;
  align-items: center;
}

.container-header img{
    width: auto;
    height: 5rem;
    padding: 0.5rem;
    border-radius: 100%;
}

.container-header_user-cargo{
    background-color: var(--color05);
    color: var(--color01);
    margin-right: 10rem;
    text-align: center;
    padding: 0.2rem;
    border-radius: 5rem;
}

/* Estilo da data */

.data{
  margin: 1rem;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
.dia-semana{
    color: var(--color05);
    font-weight: 600;
}

/* Estilo do Botão Voltar */
nav{
  width: 100vw;
  height: 6vh;
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.container-header_btn-voltar{
  margin: 1rem;
  padding: 0.5rem;
  width: 10rem;
  border-color: var(--color02);
  border-radius: 5rem;
  background: none;
  font-weight: 700;
  transition-duration: 0.2s;
  color: var(--color02);
}

.container-header_btn-voltar i{
  margin-right: 0.5rem;
}

.container-header_btn-voltar:hover{
  border-color: none;
  background-color: var(--color02);
  color: var(--color01);
}

/* Estilo da Escolha de Funcionario */
.form_select-user{
  width: 100vw;
  height: 60vh;
  overflow-x: auto;
  position: relative;
}

/* estilo da barra de rolagem */
::-webkit-scrollbar {
  background-color: transparent;
}

.caixa-opcao {
  padding: 1rem 4rem 1rem 1rem;
  margin: 1rem 2rem 1rem 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color01);
  background-color: var(--color06);
  border: none;
  border-radius: 5rem;
  box-shadow: 0px -1px 7px rgba(20,23,53,0.3);
  transition-duration: 0.2s;
  border: 2px solid transparent;
    
}


/* Transição do select */
.caixa-opcao.selected {
  border: 2px solid var(--color03);
  box-shadow: none;
}

.caixa-opcao img{
  width: auto;
  height: 7rem;
  padding: 0.5rem;
  border-radius: 100%;
}

.opcao_user{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
}

/* Estilo da Escolha da urgencia/emergencia */

.form_btn-emergencia{
    width: 100vw;
    height: 33vh;
    position: fixed;
    bottom: 0;
    z-index: 1;
    background-color: var(--color06);
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    color: var(--color01);
    align-content: center;
  
}

.form_btn-emergencia__titulo{
  margin-left: 2rem;
  font-size: 1.5rem;
}

.botoes{
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: space-around;
    margin-top: 2rem;

}

.opcaoUrgencia{
    padding: 1.4rem;
    border: solid 2px var(--color01);
    border-radius: 1rem;
    transition-duration: 0.2s;
    font-size: 1.1rem;
}

.opcaoUrgencia.selected{
  color: var(--color03);
  border: solid 2px var(--color03);

}

/* Estilo do botão 'Enviar Solicitação' */
.container_btn-enviar{
  text-align: center;
  padding-left: 1rem;
}

.btn-enviar{
  background-color: var(--color03);
  color: var(--color01);
  width: 20rem;
  padding: 1.5rem;
  text-align: center;
  border: none;
  border-radius: 50px;
  font-size: 1.6rem;
  font-weight: bold;
  cursor: pointer;
  margin-top: 1.5rem;
  transition-duration: 0.2s;
  
}

.btn-enviar:hover{
      background: none;
      border: 2px solid var(--color03);
      color: var(--color03);
}

/* ----------RESPONSIVIDADE----------- */
@media (min-width:800px){
  .form_select-user{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0rem 2rem;

  }
  .opcaoUrgencia {
    padding: 2rem;
    font-size: 1.5rem;
  }

  .form_btn-emergencia__titulo {
    margin-left: 4rem;
  }
}

@media (min-width:1000px){
  .form_select-user{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0rem 5rem;

  }

  .form_btn-emergencia__titulo {
    margin-left: 7rem;
  }
}