body{
    overflow-x: hidden;
}
/* Cabeçalho */
.cabecalho {
    width: 100vw;
    height: 5vh;
    margin: 1.5rem;
    display: flex;
    justify-content: space-between;
}

.cabecalho__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cabecalho__botao {
    margin: 1rem;
    padding: 0.5rem;
    width: 10rem;
    border: 1px solid var(--color02);
    border-radius: 5rem;
    background: none;
    font-weight: 700;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s;
}

.cabecalho__botao i {
    margin-right: 0.5rem;
}

.cabecalho__botao--voltar:hover {
    border-color: none;
    background-color: var(--color02);
    color: var(--color01);
}

.conteudo-principal {
    width: 100v;
    text-align: center;
}

.conteudo-principal__titulo {
    font-size: 3rem;
    color: var(--color05);
}

.conteudo-principal__subtitulo {
    font-size: 1.5rem;
}

/* Galeria */
.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    padding: 10px;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-evenly;
    align-content: space-around;
}

.galeria__item {
    background-color:var(--color06);
    border: 1px solid #ccc;
    overflow: hidden;
    border-radius: 3rem;
}

.galeria__link {
    display: block;
}

.galeria__imagem {
    width: 100%;
    height: auto;
    display: block;
    transition: border-color 0.2s;
}

.galeria__item:hover .galeria__imagem {
    border-color: #777;
}

.galeria__descricao {
    padding: 15px;
    text-align: center;
}

/* Estilos padrão para telas menores que 900px */
.galeria {
    grid-template-columns: 1fr; /* Uma coluna por padrão */
}

/* Estilos para telas maiores que 900px */
@media (min-width: 900px) {
    .galeria {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Ajuste para telas maiores */
    }
}

/* Responsividade adicional para telas maiores que 1200px */
@media (min-width: 1200px) {
    .galeria {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Ajuste para telas ainda maiores */
    }
}

