body{
    overflow-x: hidden;
}
/* Cabeçalho */
.cabecalho {
    width: 100vw;
    height: 5vh;
    margin: 1.5rem;
    display: flex;
    justify-content: space-between;
}

.cabecalho__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cabecalho__botao {
    margin: 1rem;
    padding: 0.5rem;
    width: 10rem;
    border: 1px solid var(--color02);
    border-radius: 5rem;
    background: none;
    font-weight: 700;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s;
}

.cabecalho__botao i {
    margin-right: 0.5rem;
}

.cabecalho__botao--voltar:hover {
    border-color: none;
    background-color: var(--color02);
    color: var(--color01);
}

.conteudo-principal {
    width: 100v;
    text-align: center;
}

.conteudo-principal__titulo {
    font-size: 3rem;
    color: var(--color05);
}

.conteudo-principal__subtitulo {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
/* Estilos para a barra de filtro */
.filtro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0.5rem 1rem;
}

.filtro__label {
    font-size: 1.2rem;
    color: var(--color02);
    font-weight: bold;
    text-align: left;
}

.filtro__select {
    padding: 0.5rem;
    border: 1px solid var(--color02);
    border-radius: 0.5rem;
    background-color: var(--color04);
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color06);
    cursor: pointer;
    padding: 0.7rem 0;
}

.filtro__select:focus {
    border-color: var(--color01); /* Cor de destaque no foco */
    outline: none;
}
/* Galeria */
.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    padding: 10px;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-evenly;
    align-content: space-around;
}

.galeria__item {
    padding: 1rem;
    background-color:var(--color06);
    border: 0.2rem solid var(--color06);
    overflow: hidden;
    border-radius: 3rem;
    text-align: center;
}
.galeria__topo{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1rem;
}
.galeria__imagem-perfil {
    border-radius: 1000%;
    margin-right: 1rem;
    height: 8rem;
}
.galeria__imagem-perfil img{
    object-fit: cover;
}
.galeria__info {
    text-align: left;
    width: 100%;
}

.galeria__status{
    background-color: var(--color03);
    padding: 0.1rem 0;
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 0.3rem;
    border-radius: 1rem;
    font-weight: bold;
}

.galeria__tipo{
    font-size: 1.5rem;
    color: var(--color01);
    padding: 0.2rem 0;
    margin: 0.4rem;
    border-bottom: 2px solid var(--color03);
    font-weight: bold;
}
.galeria__localizacao {
    font-size: 1.5rem;
    color: var(--color01);
    padding: 0.1rem 0;
    margin: 0.4rem;
}

.galeria__descricao {
    font-size: 1.5rem;
    background-color: #eeeeee38;
    color: var(--color01);
    border-radius: 1rem;
    margin-top: 1.5rem; 
    margin-bottom: 2rem;
    line-height: 1.5; 
    overflow-wrap: break-word; 
    
    overflow: hidden; 
    text-overflow: ellipsis; 
    display: -webkit-box; 
    -webkit-line-clamp: 3; /* Quantidade linhas */
    -webkit-box-orient: vertical; 
}

.galeria__botao-encerrar {
    background-color: transparent;
    color: var(--color05);
    border: 0.1rem solid var(--color05);
    padding: 0.7rem 1.5rem;
    border-radius: 1.5rem;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s ease-in-out;
    position: relative;
    overflow: hidden;
}

.galeria__botao-encerrar:hover {
    background-color: var(--color05);
    color: var(--color01);
    border: 0.1rem solid var(--color05);
}

.galeria__botao-Mais{
    background-color: var(--color03);
    color: var(--color02);
    border: 0.1rem solid var(--color03);
    padding: 0.7rem 1.5rem;
    border-radius: 1.5rem;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s ease-in-out;
    position: relative;
    overflow: hidden;
    margin: 0 1rem;
}
.galeria__botao-Mais:hover{
    background-color: transparent;
    color: var(--color01);
    border: 0.1rem solid var(--color03);
}
/* Estilos padrão para telas menores que 900px */
.galeria {
    grid-template-columns: 1fr; /* Uma coluna por padrão */
}
/* Estilos para telas maiores que 900px */
@media (min-width: 900px) {
    .galeria {
        
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Ajuste para telas maiores */
    }
    /* Estilos para a barra de filtro */
    .filtro {

        margin: 0.5rem 5rem;
    }
}

/* Responsividade adicional para telas maiores que 1200px */
@media (min-width: 1200px) {
    .galeria {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Ajuste para telas ainda maiores */
    }

        /* Estilos para a barra de filtro */
        .filtro {

            margin: 0.5rem 5rem;
        }
}

