@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

input,select{
    font-family: "Montserrat", sans-serif;
}

/* Estilo da Área do bnt-voltar e Data */
.container-header{
    width: 100vw;
    height: 5vh;
    display: flex;
    justify-content: space-between;
}

.container-header_btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-header_btn-voltar{
    margin: 1rem;
    padding: 0.5rem;
    width: 10rem;
    border-color: var(--color02);
    border-radius: 5rem;
    background: none;
    font-weight: 700;
    
    transition-duration: 0.2s;
}

.container-header_btn-voltar i{
    margin-right: 0.5rem;
 }

 /* Mudança de Cor do botão ao passar o cursor por cima */
.container-header_btn-voltar:hover{
    border-color: none;
    background-color: var(--color02);
    color: var(--color01);
}

/* Estilo da Data */
.container-header_data{
    margin: 1rem;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.dia-semana{
    color: var(--color05);
    font-weight: 600;
}

/* Estilo da Área Usuario */
.container-header-user{
    width: 100vw;
    height: 15vh;
    display: flex;
    align-items: center;
    padding: 0rem 0rem 0rem 5rem;
}

.container-header-user img{
    width: auto;
    height: 5rem;
    border-radius: 100%;
}

.container-header-user_nome{
    font-size: 2rem;
}

.container-header-user_cargo{
    background-color: var(--color05);
    color: var(--color01);
    margin-right: 10rem;
    text-align: center;
    padding: 0.4rem;
    border-radius: 5rem;
}

/* Estilo da Área de Solicitação */
.container-main{
    width: 100vw;
    height: 80vh;
    background-color: var(--color06);
    color: var(--color01);
    display: flex;
    align-items: center;
    flex-direction: column;
    border-top-left-radius: 5rem;
    border-top-right-radius: 5rem;

}

.main-titulo-subtitulo{
    text-align: center;
    margin-bottom: 1rem;
}

.subtitulo{
   font-weight: 100;
   font-size:1.5rem;
}

.container-main h1 p{
    
    margin-left: 1rem;
    font-weight: 700;
}

.container-main h1{
    
    margin: 1.5rem;
    font-size: 3rem;
    font-weight: 100;
    display: flex;
    justify-content: center;
}


/* Estilo do Formulario de envio de Solicitação */
.container-main_form{
    text-align: center;

}

/* Estilo dos Input Select*/
.form_select{
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    gap: 4rem;
}

.form_select select{
    background-color: var(--color04);
    color: var(--color06);
    font-weight: 700;
    border: none;
    padding: 0.2rem;
    border-radius: 2rem;
}

/* Estilo input Arquivo */
.form_input-arquivo{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin:  2rem 0.5rem 2rem 0.5rem;
}

.form_input-arquivo label{
    font-size: 1.5rem;
}

.form_input-arquivo input{
    background-color: var(--color04);
    padding: 0.5rem;
    color: var(--color06);
    border-radius: 2rem;
    margin-top: 1rem;

}

#arquivo{
    background-color: var(--color01);
    border: none;
}

.form_adendo{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin:  0.5rem;
    color: var(--color04);
}

.form_adendo label{
    font-size: 1.5rem;
}

#adendo{
    width: 100%;
    height: 9rem;
    border-radius: 2rem;  
    margin-top: 1rem;  
}

/* Estilo do Botão "Enviar Solicitação" */
.form_btn-enviar{
    display: inline-block;
    width: 20rem;
    padding: 1.2rem;
    text-align: center;
    border-radius: 50px;
    font-size: 1.6rem;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.3s ease-in-out; 
    cursor: pointer;
    background-color: var(--color03); 
    border: 2px solid var(--color03); 
    color: var(--color01); 
    margin-bottom: 1rem;
    margin-top: 1.5rem;
}

.form_btn-enviar:hover{
    background-color: transparent; 
    color: var(--color03);
    box-shadow: 0px 8px 15px rgba(224, 223, 163, 0.2); 
    transform: scale(1.02); 
    border: 2px solid var(--color03);
}

/* ------------RESPONSIVIDADE------------------- */



@media (min-width:900px){
    .container-main{
        height:80vh ;
    }

    .form_select{
        gap: 2rem;
        display: flex;
    }

    .form_input-arquivo{
        margin:  1rem 0.5rem 1rem 0.5rem;
    }
    
    .form_btn-enviar{
        display: inline-block;
        width: 20rem;
        padding: 0.5rem;
        margin-bottom: 1rem;
        margin-top: 1.5rem;
    }
   
}