
/* Estilo da Topo da Tela (nome do Usuario e data */
header{
  width: 100vw;
  height: 10vh;
  background-color: var(--color04);
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.container-header{
  display: flex;
  align-items: center;
}

.container-header img{
    width: auto;
    height: 5rem;
    padding: 0.5rem;
    border-radius: 100%;
}

.container-header_user-cargo{
    background-color: var(--color05);
    color: var(--color01);
    margin-right: 10rem;
    text-align: center;
    padding: 0.2rem;
    border-radius: 5rem;
}

/* Estilo da data */

.data{
  margin: 1rem;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
.dia-semana{
    color: var(--color05);
    font-weight: 600;
}

/* Estilo do Botão Voltar */
nav{
  width: 100vw;
  height: 6vh;
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.container-header_btn-voltar{
  margin: 1rem;
  padding: 0.5rem;
  width: 10rem;
  border-color: var(--color02);
  border-radius: 5rem;
  background: none;
  font-weight: 700;
  transition-duration: 0.2s;
  color: var(--color02);
}

.container-header_btn-voltar i{
  margin-right: 0.5rem;
}

.container-header_btn-voltar:hover{
  border-color: none;
  background-color: var(--color02);
  color: var(--color01);
}

/* Estilo da Escolha de Funcionario */
main{
  width: 100vw;
  height: 74vh;
  overflow-x: auto;
  position: relative;
}


.caixa-opcao {
  padding: 8px;
  margin: 1rem 2rem 1rem 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color01);
  background-color: var(--color06);
  border: none;
  border-radius: 5rem;
  box-shadow: 0px -1px 7px rgba(20,23,53,0.3);
  transition-duration: 0.2s;
    
}


/* Transição do select */
.caixa-opcao.selected {
  border: 2px solid var(--color03);
  box-shadow: none;
}

.caixa-opcao img{
  width: auto;
  height: 7rem;
  padding: 0.5rem;
  border-radius: 100%;
}

.opcao_user{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
}



.status_disponivel{
  padding: 0.5rem 1rem 0.5rem 1rem;
  background-color: var(--colorGreen);
  font-size: 1.2rem;
  border-radius: 0.5rem;
  text-align: center;
  display: none;
  
}

.status_n-disponivel{
    padding: 0.5rem 1rem 0.5rem 1rem;
    background-color: var(--colorRed);
    border-radius: 0.5rem;
    font-size: 1.2rem;
    text-align: center;
    
  
}

/* Estilo da Escolha da urgencia/emergencia */

.form_btn-emergencia{
    width: 100vw;
    height: 33vh;
    position: fixed;
    bottom: 0;
    z-index: 1;
    background-color: var(--color06);
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    color: var(--color01);
    align-content: center;
  
}

.form_btn-emergencia__titulo{
  margin-left: 2rem;
  font-size: 1.5rem;
}

.botoes{
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: space-around;
    margin-top: 2rem;

}

.opcaoUrgencia{
    padding: 1.4rem;
    border: solid 2px var(--color01);
    border-radius: 1rem;
    transition-duration: 0.2s;
    font-size: 1.1rem;
}

.opcaoUrgencia.selected{
  color: var(--color03);
  border: solid 2px var(--color03);

}

/* Estilo do botão 'Enviar Solicitação' */
.container_btn-enviar{
  text-align: center;
}

.btn-enviar{
  background-color: var(--color03);
  color: var(--color01);
  width: 20rem;
  padding: 1.5rem;
  text-align: center;
  border: none;
  border-radius: 50px;
  font-size: 1.6rem;
  font-weight: bold;
  cursor: pointer;
  margin-top: 1.5rem;
  transition-duration: 0.2s;
}

.btn-enviar:hover{
      background: none;
      border: 2px solid var(--color03);
      color: var(--color03);
}

/* ----------RESPONSIVIDADE----------- */

@media (min-width: 360px){
  .status_n-disponivel{
    padding: 0.4rem 0.5rem 0.4rem 0.5rem;
    
  }  
  .opcaoUrgencia{
   font-size: 1.2rem;
    }
}

@media (min-width:1000px){
  .main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
  }
  #form_select-user{
    display: grid;
    grid-template-columns: auto auto;
    margin: 3rem 9rem 0rem 9rem;
  }
  .container-header_user-nome{
    font-size: 2rem;
  }
  .container-header_user-cargo{
    font-size: 1.5rem;
  }
  .data{
        gap: 0.5rem;
        border-radius: 5rem;
        box-shadow: 4px 3px 10px rgb(135, 135, 135);
        padding: 1rem;
        font-size: 2.5rem;
  }
  .form_btn-emergencia{
    height: 30vh;
  }
  .form_btn-emergencia__titulo{
      margin: 2rem 0rem 0rem 12rem;
      font-size: 2rem;
  }
  .botoes{
    margin-top: 4rem;
  }
  .opcaoUrgencia {
    font-size: 2rem;
  }

  .btn-enviar {
    padding: 1.5rem;
    font-size: 1.5rem;
    margin: 3rem 10rem 0rem 10rem;

  }

  .caixa-opcao {
    padding: 20px;
  }

  .caixa-opcao img {
    height: 8rem; 
  }

  .opcao_user{
    font-size: 1.9rem
  }

  .status_n-disponivel {
    
    font-size: 1.7rem;
  }

  .status_disponivel {
    font-size: 1.7rem;
  }

}
  
