/* Estilo do cabeçalho da página, centralizando texto e adicionando estilo visual */
.cabecalho {
    text-align: center;
    padding: 2rem 2rem 3rem 2rem;
    background-color: var(--color06);
    color: var(--color01);
    border-bottom-left-radius: 2rem;  
    border-bottom-right-radius: 2rem;  
}

/* Estilo do título dentro do cabeçalho, ajustando tamanho e margem */
.cabecalho__titulo {
    font-size: 2.4rem;
    margin: 0;
}

/* Estilo da barra de pesquisa no cabeçalho, centralizando elementos */
.cabecalho__pesquisa {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

/* Estilo do campo de entrada da pesquisa, ajustando preenchimento e bordas */
.cabecalho__input {
    padding: 1rem;
    border: none;
    border-radius: 0.4rem 0 0 0.4rem;
    width: 70%;
}

/* Estilo do botão de pesquisa, definindo cor de fundo e bordas arredondadas */
.cabecalho__botao {
    background-color: var(--color01);
    border: none;
    padding: 1rem;
    border-radius: 0 0.4rem 0.4rem 0;
    cursor: pointer;
}

/* Estilo do ícone dentro do botão, definindo largura */
.cabecalho__icone {
    width: 2rem;
}

/* Estilo do conteúdo principal, configurando layout em grid */
.conteudo {
    display: grid;
    gap: 2rem;
    padding: 2rem;
    grid-template-columns: 1fr;
}

/* Estilo do cartão que contém informações de serviços, com fundo e bordas */
.conteudo__card {
    display: flex;
    background-color: var(--color04);
    border-radius: 1rem;
    padding: 1rem;
    color: var(--color06);
}

/* Estilo da imagem dentro do cartão, tornando-a circular */
.conteudo__imagem {
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
    margin-right: 1rem;
}

/* Estilo da seção de informações do cartão, organizando conteúdo em coluna */
.conteudo__informacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Estilo do nome dentro do cartão, ajustando tamanho da fonte */
.conteudo__nome {
    margin: 0;
    font-size: 2.5rem;
}

/* Estilo da profissão, incluindo fundo e bordas arredondadas */
.conteudo__profissao {
    background-color: var(--color05);
    padding: 0.7rem 0.8rem;
    border-radius: 0.4rem;
    color: var(--color01);
    font-size: 1.2rem;
    margin-left: 0.5rem;
}

/* Estilo da descrição dentro do cartão, definindo tamanho da fonte e margem */
.conteudo__descricao {
    font-size: 1.7rem;
    margin: 1rem 0;
}

/* Estilo das datas no cartão, ajustando tamanho da fonte */
.conteudo__datas {
    font-size: 1.6rem;
}

/* Estilo do botão "Ver mais", definindo largura e aparência */
.conteudo__botao {
    width: 100%;
    background-color: var(--color03);
    border: none;
    padding: 0.5rem 2rem;
    color: var(--color06);
    cursor: pointer;
    border-radius: 0.4rem;
    align-self: flex-start;
}

/* Responsividade: configura layout para telas maiores que 600px */
@media (min-width: 600px) {
    .conteudo {
        grid-template-columns: 1fr 1fr;
    }
}

/* Responsividade: configura layout para telas maiores que 900px */
@media (min-width: 900px) {
    .conteudo {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
