<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Inicio de Serviço</title>

         <!-- Link Arquivo CSS Global -->
         <link rel="stylesheet" href="/static/CSS/global.css">
         <!-- Link Arquivo CSS -->
         <link rel="stylesheet" href="/static/CSS/RF006-TLmanuten.css">
         <!-- Link Arquivo JS -->
         <script defer src="/static/JS/RF006-TLmanuten.js"></script>
         <!-- Link para os ICONS -->
        <script src="https://kit.fontawesome.com/e9b74fb3c4.js" crossorigin="anonymous"></script>
        <!-- link Arquivo JS data -->
         <script defer src="/static/JS/funcao-data.js"></script>
         <script defer src = "/static/JS/funcao-horas.js"></script>

         <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=add" />
        <!-- link JS biblioteca SweetAlert -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    </head>
    <body>
        <header>
            <section class="container-header-user">
                <div class="info-usuario">
                    <figure><img src="https://st4.depositphotos.com/11574170/25191/v/450/depositphotos_251916955-stock-illustration-user-glyph-color-icon.jpg" alt="Imagem de Perfil"></figure>
                    <div class="container-header-user_info horas">
                        <h2 class="container-header-user_nome"> <span class="saudacao" id="saudacao"> </span>{{campo_nome}}</h2>
                        <p class="container-header-user_cargo">{{campo_funcao}}</p>
                    </div>
                </div>
                <div class="container-header-data">
                    <div class="data">
                        <p class="dia-semana" id="dia-semana">Qui</p><p class="dia" id="dia">10</p><p class="mes" id="mes">Set</p>
                    </div>
                </div>
            </section>
        </header>
        <main class="container-baixo">
            <section class="container_baixo-ladoEsquerdo">
                <div class="ladoEsquerdo-txt">
                    <h2>Serviço em <span class="destaque-txt">Aberto</span></h2>
                    <hr>
                </div>
                <!-- Serviço á ser feito -->
                <div class="ladoEsquerdo-conteudo">
                    {% for x in campo_encaminhamentos_fazendo %}
                    <div class="ladoEsquerdo-card">
                        <p class="horario">10:30am</p>
                        <div class="card-conteudo">
                            <p class="bloco">{{x[1]}} | {{x[0]}}</p>
                            <p class="urgencia">{{x[2]}}</p>
                            <a href="/RF007/{{x[4]}}"><i class="fa-solid fa-arrow-right"></i></a>
                        </div>
                    </div>
                    {%endfor%}
                </div>
            </section>
            <!-- Serviços encaminhados -->
            <section class="container-servico-encaminhado">
                <h2>Serviços Encaminhados</h2>
                <hr>
                <div class="container-encaminhamento">
                    {% for x in campo_encaminhamentos_pendentes %}
                    <a href="/RF006A/{{x[3]}}/{{x[4]}}">
                        <div class="servico-encaminhado">
                            <div class="servico-encaminhado-data">
                                <p class="servico-encaminhado-dia-semana">QUI</p><p class="servico-encaminhado-dia">10</p>
                            </div>
                            <p class="servico-encaminhado-local">{{x[1]}} | {{x[0]}}</p>
                            <p class="urgencia">{{x[2]}}</p>
                        </div>
                    </a>
                    {%endfor%}
            <section>
                <button onclick="redirectSolicitacao()" class="Btn" >
                  
                  <div class="sign">
                    <span class="material-symbols-outlined">
                        add
                        </span>
                  
                  <div class="text">Chamado</div>
                </button>                                                  
            </section>
        </main>
    </body>
</html>