<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Inicio de Serviço</title>

         <!-- Link Arquivo CSS Global -->
         <link rel="stylesheet" href="/static/CSS/global.css">
         <!-- Link Arquivo CSS -->
         <link rel="stylesheet" href="/static/CSS/RF006-TLmanuten.css">
         <!-- Link Arquivo JS -->
         <script defer src="/static/JS/RF006-TLmanuten.js"></script>

    </head>
    <body>
        <header>
            <section class="container-comprimentacao">
                <h2 class="comprimentacao">Boa Tarde</h2>
            </section>
            <section class="container">
                <div class="container-header">
                    <figure><img src="/" alt="Imagem de Perfil"></figure>
                    <div class="container-header_user-info">
                        <h2 class="container-header_user-nome">Paulo de Oliveira</h2>
                        <p class="container-header_user-cargo">Supervisor de Manutenção</p>
                    </div>
                </div>
                <div class="container-header-data">
                    <div class="data">
                        <p class="dia-semana">Qui</p><p class="dia">10</p><p class="mes">Set</p>
                    </div>
                </div>
            </section>
        </header>
        <main>
            <h1>Serviço de <p>hoje</p></h1>
            section.container-
        </main>
    </body>
</html>