<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Login</title>

        <!-- Link Arquivo CSS -->
         <link rel="stylesheet" href="/static/CSS/RF002-log.css">
        <!-- Link Arquivo CSS Global -->
         <link rel="stylesheet" href="/static/CSS/global.css">
        <!-- Link Arquivo JS -->
         <script defer src="/static/JS/RF002-log.js"></script>

    </head>
    <body>
        <main>
            <section class="container-main">
            </section>
            <div class="container-form">
                <form action="" method="POST">
                    <h1>Login</h1>
                    <label for="inp-SN">SN:</label>
                    <input placeholder="Digite seu SN" type="text" name="inp-SN" id="inp-SN">
                    <label for="inp-senha">Senha:</label>
                    <input placeholder="Digite sua senha" type="password" name="inp-senha" id="inp-senha">
                    <button type="submit" class="container-form__btn-envio">Concluir Login</button>
                </form>
            </div>
        </main>
        <footer>
            <section class="container-footer">
                <img src="/static/IMG/Brand Identity and Design.svg" alt="Logo Easy Request">
            </section>
        </footer>
    </body>
</html>