<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Designação</title>

        <!-- Link Arquivo CSS Global -->
        <link rel="stylesheet" href="/static/CSS/global.css">
        <!-- Link Arquivo CSS -->
        <link rel="stylesheet" href="/static/CSS/RF005-encamSolic.css">
        <!-- Link Arquivo JS -->
        <script defer src="/static/JS/RF005-encamSolic.js"></script>
        <!-- Link para os ICONS -->
        <script src="https://kit.fontawesome.com/e9b74fb3c4.js" crossorigin="anonymous"></script>

    </head>
    <body>
        <header>
            <section class="container-header">
                <img src="" alt="Imagem de Perfil">
                <div class="container-header_user-info">
                    <h2 class="container-header-user_nome">Paulo de Oliveira</h2>
                    <p class="container-header-user_cargo">Professor</p>
                </div>
            </section>
            <section class="container-header-data">
                <div class="data">
                    <p class="dia-semana">Qui</p><p class="dia">10</p><p class="mes">Set</p>
                </div>
            </section>
        </header>
        <nav>
            <button class="container-header_btn-voltar" href=''><i class="fa-solid fa-arrow-left"></i>Voltar</button>
        </nav>
        <main>
            <section class="container-main">
                <form action="" method="POST">
                    <div class="form_select-user">
                        <img src="/" alt="Imagem de Perfil">
                        <div class="select-user_info">
                            <h2></h2>
                        </div>
                    </div>
                </form>
            </section>
        </main>        
    </body>
</html>