<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Inicio de Serviço</title>

         <!-- Link Arquivo CSS Global -->
         <link rel="stylesheet" href="/static/CSS/global.css">
         <!-- Link Arquivo CSS -->
         <link rel="stylesheet" href="/static/CSS/RF006-TLmanuten.css">
         <!-- Link Arquivo JS -->
         <script defer src="/static/JS/RF006-TLmanuten.js"></script>
         <!-- Link para os ICONS -->
        <script src="https://kit.fontawesome.com/e9b74fb3c4.js" crossorigin="anonymous"></script>
        <!-- link Arquivo JS data -->
         <script defer src="/static/JS/funcao-data.js"></script>
         <script defer src = "/static/JS/funcao-horas.js"></script>

    </head>
    <body>
        <header>
            <section class="container-cumprimentacao">
                <div class="horas">
                    <h2 class="saudacao" id="saudacao"></h2>
                </div>
                <div class="container-header-data">
                    <div class="data">
                        <p class="dia-semana" id="dia-semana">Qui</p><p class="dia" id="dia">10</p><p class="mes" id="mes">Set</p>
                    </div>
                </div>
            </section>
            <section class="container-header-user">
                <figure><img src="https://st4.depositphotos.com/11574170/25191/v/450/depositphotos_251916955-stock-illustration-user-glyph-color-icon.jpg" alt="Imagem de Perfil"></figure>
                <div class="container-header-user_info">
                    <h2 class="container-header-user_nome">Jorge</h2>
                    <p class="container-header-user_cargo">Técnico</p>
                </div>
            </section>
        </header>
        <main>
            <!-- Serviços a serem feitos no dia -->
            <h1>Serviço de <p>hoje</p></h1>
            <hr/>
            <section class="container-servico">
            <!-- Serviço á ser feito -->
                <div class="servico">
                    <div class="servico_hora-local">
                        <p class="hora">13h35</p>
                        <p class="local">Bloco A | Sala 01</p>
                   </div>
                   <div class="servico_urgencia">
                        <p class="urgencia">Baixa Urgencia</p>
                        <a href=""><i class="fa-solid fa-arrow-right"></i></a>
                   </div>
                </div>

                <div class="servico">
                    <div class="servico_hora-local">
                        <p class="hora">13h35</p>
                        <p class="local">Bloco A | Sala 01</p>
                   </div>
                   <div class="servico_urgencia">
                        <p class="urgencia">Urgencia</p>
                        <a href=""><i class="fa-solid fa-arrow-right"></i></a>
                   </div>
                </div>

            </section>

            <!-- Serviços encaminhados -->
             <section class="container-servico-encaminhado">
                <h2>Serviços Encaminhados</h2>
                <div class="container-encaminhamento">
                    <div class="servico-encaminhado">
                        <div class="servico-encaminhado-data">
                            <p class="servico-encaminhado-dia-semana">QUI</p><p class="servico-encaminhado-dia">10</p>
                        </div>
                        <p class="servico-encaminhado-local">Bloco B | Sala 09</p>
                    </div>

                    <div class="servico-encaminhado">
                        <div class="servico-encaminhado-data">
                            <p class="servico-encaminhado-dia-semana">QUI</p><p class="servico-encaminhado-dia">10</p>
                        </div>
                        <p class="servico-encaminhado-local">Bloco B | Sala 09</p>
                    </div>
                </div>
             </section>
        </main>

        <!-- Rodape -->
        <footer>
            <section class="container-footer">
                <h2>Quer fazer uma Solicitação?</h2>
                <p>Solicite com o botão abaixo!</p>
                <button class="btn-fazer-solicitacao">Fazer Solicitação</button>
            </section>
        </footer>
    </body>
</html>