<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/CSS/global.css">
    <link rel="stylesheet" href="/static/CSS/RF004A-detlSolic.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!-- Link para os ICONS -->
    <script src="https://kit.fontawesome.com/e9b74fb3c4.js" crossorigin="anonymous"></script>
    <title>EASY-REQUEST</title>
</head>
<body>
    <nav>
        <section class="container-header">
            <div class="container-header_btn">
                <button class="container-header_btn-voltar" href=''><i class="fa-solid fa-arrow-left"></i>Voltar</button>
            </div>
        </section>
    </nav>
    <main class="conteudo-principal">
        <section class="detalhes-solicitacao">
            <div class="detalhes-solicitacao__cabecalho">
                <h1 class="detalhes-solicitacao__titulo">{{campo_sala}} - {{campo_servico}}</h1>
                <p class="detalhes-solicitacao__autor">{{campo_nome_solicitante}} - {{campo_funcao_solicitante}}</p>
            </div>
            <hr class="detalhes-solicitacao__divisor">
            <div class="detalhes-solicitacao__corpo">
                <p class="detalhes-solicitacao__rotulo-descricao">Descrição</p>
                <p class="detalhes-solicitacao__texto-descricao">
                    {{campo_descricao}}
                </p>
                <a href="/RF005/{{campo_id_solicitacao}}"><button class=" botao botao-cadastro">Encaminhar</button></a>
            </div>
        </section>
    </main>
</body>
</html>
<!-- <script type="text/javascript">
    function mostraSolicitacao() {
        // Obter a URL atual
        var url_atual = window.location.href;
    
        // Criar um objeto URLSearchParams com a query string da URL
        var params = new URLSearchParams(new URL(url_atual).search);
    
        // Obter o valor do parâmetro 'solicitacao'
        var solicitacao = params.get('solicitacao');
        
        $.ajax({
        url: "('/api/RF004A/" + solicitacao,
        type: "GET",
        success: function (encaminha){
            console.log(encaminha);
        var tag_nome = "<p>" + encaminha['nome'] + "</p>";
        var tag_descricao = "<p>" + encaminha['descricao'] + "</p>";
        $(".detalhes-solicitacao__autor").html(tag_nome);
        $(".detalhes-solicitacao__texto-descricao").html(tag_descricao);


        }
        })
    }
    $(document).ready(mostraSolicitacao); -->
    </script>