<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Login</title>

        <!-- Link Arquivo CSS Global -->
        <link rel="stylesheet" href="/static/CSS/global.css">
        <!-- Link Arquivo CSS -->
         <link rel="stylesheet" href="/static/CSS/RF002-log.css">
        <!-- Link Arquivo JS -->
         <script defer src="/static/JS/RF002-log.js"></script>
         <!-- link JS biblioteca SweetAlert -->
         <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    </head>
    <body>
        <main>
            <!-- Container para a inserção da imagem de fundo -->
            <section class="container-main">
            </section>
            <!-- Container para o Formulario de Login -->
            <div class="container-form">
                <div class="form">
                    <h1>Login</h1>
                    <label for="inp-SN">SN:</label>
                    <input placeholder="Digite seu SN" type="text" name="inp-SN" id="inp-SN" required>
                    <label for="inp-senha">Senha:</label>
                    <input placeholder="Digite sua senha" type="password" name="inp-senha" id="inp-senha" required>
                    <button onclick="logar()" class="container-form__btn-envio">Concluir Login</button>
                </div>
            </div>
        </main>
        <footer>
            <!-- Container com a Logo do Projeto -->
            <section class="container-footer">
                <img src="/static/IMG/Brand Identity and Design.svg" alt="Logo Easy Request">
            </section>
        </footer>
    </body>
</html>