<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/CSS/global.css">
    <link rel="stylesheet" href="/static/CSS/RF004-ADMrecbSolic.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <title>EASY-REQUEST - Inicial</title>
</head>
<body>
    <!-- Área de Informação do Usuario -->
    <header class="header">
        <div class="header__date-container">
            <div class="header__button"></div>
            <div class="header__date">
                <p class="header__day-of-week">Qui</p>
                <p class="header__day">10</p>
                <p class="header__month">Set</p>
            </div>
        </div>
        <section class="header__user-info">
            <img src="/static/IMG/image 17exImgRogerio.png" alt="Imagem de Perfil" class="header__user-image">
            <div class="header__user-details">
                <h2 class="header__user-name">Claudio Silva</h2>
                <p class="header__user-position">Chefe da manutenção</p>
            </div>
        </section>
    </header>
    <!-- Área Inferior do site -->
    <div class="sectionBaixo">
        
        <!-- Barra de Pesquisa -->
        <div class="sectionBaixo__search-container">
            <input type="search" id="search" name="search" placeholder="Pesquisar..." class="sectionBaixo__search-input">
            <button type="submit" class="sectionBaixo__search-button">Pesquisar</button>
        </div>
    
        <!-- Filtro -->
        <div class="sectionBaixo__filter-container">
            <select class="sectionBaixo__filter-select">
                <option value="recent">Mais recente</option>
                <option value="buildingA">Prédio A</option>
                <option value="buildingB">Prédio B</option>
                <option value="buildingC">Prédio C</option>
            </select>
        </div>
        <div class="sectionBaixo__grid-section">
            <div class="sectionBaixo__grid-item">
                <div class="card">
                    {%for recebe in recebimento_servico%}
                    <div class="card__header">
                        <span class="card__building">{{recebe['id_sala'}}</span>
                    </div>
                    <div class="card__body">
                        <p class="card__service">{{recebe['CPF_funcionario']}}</p>
                        <p class="card__responsavel">{{recebe['CPF_funcionario']}}</p>
                        <hr class="card__linha">
                        <p class="card__descricao">{{recebe['descricao']}}</p>
                    </div>
                    <div class="card__footer">
                        <a href="/saibaMais?servico={{servico['id_servico']}}"> <button class="card__button">Encaminhar</button></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>

</html>
<script type="text/javascript">
    function mostraAnimes() {
        // Obter a URL atual
        var url_atual = window.location.href;
    
        // Criar um objeto URLSearchParams com a query string da URL
        var params = new URLSearchParams(new URL(url_atual).search);
    
        // Obter o valor do parâmetro 'anime'
        var anime = params.get('anime');
    
        $.ajax({
            url:"/api/get_rf004/" + card__header,
            type: "GET",
            success: function(servicos){
                console.log(servicos);

                var tag_local="<span>" + servicos['id_sala']+"</span>"
                var tag_funcao="<p>" + servicos['CPF_funcionario']+"</p>"
                var tag_funcionario="<p>" + servicos['CPF_funcionario']+"</p>"
                var tag_descricao="<p>" + servicos['descricao']+"</p>"

                $(".card__building").html(tag_local);
                $(".card__service").html(tag_funcao);
                $(".card__responsavel").html(tag_funcionario);
                $(".card__descricao").html(tag_descricao);

            }
        })
    }
            
</script>
