<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/CSS/global.css">
    <link rel="stylesheet" href="/static/CSS/RF008-fimchamado.css">
    <script src="https://kit.fontawesome.com/e9b74fb3c4.js" crossorigin="anonymous"></script>
    <title>Finalizar Chamado</title>
</head>
<body>
    <header class="cabecalho">
        <div class="cabecalho__container">
            <button class="cabecalho__botao cabecalho__botao--voltar" onclick="window.history.back();">
                <i class="fa-solid fa-arrow-left"></i> Voltar
            </button>
        </div>
    </header>
    <main class="conteudo-principal">
        <h2 class="conteudo-principal__titulo">Finalizar Chamado</h2>
        <h4 class="conteudo-principal__subtitulo">Finalize os chamados que ja foram concluidos</h4>
        <div class="galeria">
            <article class="galeria__item">
                <a class="galeria__link" target="_blank" href="img_5terre.jpg">
                    <img class="galeria__imagem" src="img_5terre.jpg" alt="Vista panorâmica da Cinque Terre" width="600" height="400">
                </a>
                <div class="galeria__descricao">Descrição da imagem aqui</div>
            </article>
            <article class="galeria__item">
                <a class="galeria__link" target="_blank" href="img_forest.jpg">
                    <img class="galeria__imagem" src="img_forest.jpg" alt="Floresta" width="600" height="400">
                </a>
                <div class="galeria__descricao">Descrição da imagem aqui</div>
            </article>
            <article class="galeria__item">
                <a class="galeria__link" target="_blank" href="img_lights.jpg">
                    <img class="galeria__imagem" src="img_lights.jpg" alt="Aurora Boreal" width="600" height="400">
                </a>
                <div class="galeria__descricao">Descrição da imagem aqui</div>
            </article>
            <article class="galeria__item">
                <a class="galeria__link" target="_blank" href="img_mountains.jpg">
                    <img class="galeria__imagem" src="img_mountains.jpg" alt="Montanhas" width="600" height="400">
                </a>
                <div class="galeria__descricao">Descrição da imagem aqui</div>
            </article>
        </div>
    </main>
</body>
</html>
