<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/CSS/global.css">
    <link rel="stylesheet" href="/static/CSS/RF008-fimchamado.css">
    <script src="https://kit.fontawesome.com/e9b74fb3c4.js" crossorigin="anonymous"></script>
    <title>Finalizar Chamado</title>
</head>
<body>
    <header class="cabecalho">
        <div class="cabecalho__container">
            <button class="cabecalho__botao cabecalho__botao--voltar" onclick="window.history.back();">
                <i class="fa-solid fa-arrow-left"></i> Voltar
            </button>
        </div>
    </header>
    <main class="conteudo-principal">
        <h2 class="conteudo-principal__titulo">Finalizar Chamado</h2>
        <h4 class="conteudo-principal__subtitulo">Finalize os chamados que ja foram concluidos</h4>
        <!-- Barra de Filtro -->
        <div class="filtro">
            <label for="status" class="filtro__label">Filtrar por status:</label>
            <select id="status" class="filtro__select">
                <option value="todos">Todos</option>
                <option value="aberto">Aberto</option>
                <option value="em-andamento">Em Andamento</option>
                <option value="concluido">Concluído</option>
            </select>
            
            <label for="tipo" class="filtro__label">Filtrar por tipo:</label>
            <select id="tipo" class="filtro__select">
                <option value="todos">Todos</option>
                <option value="manutencao">Manutenção</option>
                <option value="limpeza">Limpeza</option>
                <option value="outros">Outros</option>
            </select>
        </div>
        <div class="galeria">
            <article class="galeria__item">
                <div class="galeria__topo">
                    <img class="galeria__imagem-perfil" src="https://miro.medium.com/v2/resize:fit:1200/1*g09N-jl7JtVjVZGcd-vL2g.jpeg" alt="Foto de perfil do responsável pelo chamado" width="100">
                    <div class="galeria__info">
                        <div class="galeria__status" aria-label="Status do chamado"><p>STATUS</p></div>
                        <div class="galeria__tipo" aria-label="Tipo de chamado"><p>TIPO</p></div>
                        <div class="galeria__localizacao" aria-label="Localização do chamado"><P>Aonde está</P></div>
                    </div>
                </div>
                <div class="galeria__descricao" aria-label="Descrição do chamado"><p>Descrição do chamado</p></div>
                <button class="galeria__botao-encerrar" aria-label="Botão para encerrar o chamado"><p>Encerrar chamado</p></button>
                <button class="galeria__botao-Mais " aria-label="Botão para encerrar o chamado"><p>Mais</p></button>
            </article>  
          
        </div>
    </main>
</body>
</html>
