<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/CSS/global.css">
    <link rel="stylesheet" href="/static/CSS/RF007-manutConfirm.css">
    <title>Finalizar Tarefa</title>
</head>
<body>
    <!-- Cabeçalho com informações do usuário -->
    <header class="cabecalho">
        <div class="cabecalho__botao-container">
            <button class="cabecalho__botao-voltar" href=''>
                <i class="fa-solid fa-arrow-left"></i>Voltar
            </button>
        </div>

        <!-- Informações do usuário logado -->
        <section class="cabecalho__info-usuario">
            <img src="/static/IMG/image 17exImgRogerio.png" alt="Imagem de Perfil de Claudio Silva" class="cabecalho__imagem-usuario">
            <div class="cabecalho__detalhes-usuario">
                <h2 class="cabecalho__nome-usuario">João Vitor</h2>
                <p class="cabecalho__cargo-usuario">Chefe de manutenção</p>
            </div>
        </section>
    </header>

    <!-- Conteúdo principal -->
    <main class="principal">
        <div class="principal__container">
            <p class="principal__titulo">Confirmar finalização de serviço</p>
            <form class="formulario-finalizar">
                <div class="formulario-finalizar__opcoes">
                    <p class="formulario-finalizar__titulo">Escolha uma das opções:</p>

                    <label class="formulario-finalizar__opcao">
                        <input type="radio" name="opcao" class="formulario-finalizar__input" />
                        <span class="formulario-finalizar__texto">Não foi possível realizar a tarefa</span>
                    </label>

                    <label class="formulario-finalizar__opcao">
                        <input type="radio" name="opcao" class="formulario-finalizar__input" />
                        <span class="formulario-finalizar__texto">Foi realizado mas necessita de outros cuidados</span>
                    </label>

                    <label class="formulario-finalizar__opcao">
                        <input type="radio" name="opcao" class="formulario-finalizar__input" />
                        <span class="formulario-finalizar__texto">Tarefa foi totalmente realizada</span>
                    </label>
                </div>

                <div class="formulario-finalizar__caixa-texto">
                    <p class="formulario-finalizar__titulo">Inserir informações adicionais (caso houver):</p>
                    <textarea class="formulario-finalizar__comentarios" placeholder="Digite aqui"></textarea>
                    <button type="submit" class="formulario-finalizar__botao">Finalizar tarefa</button>
                </div>
            </form>
        </div>
    </main>
</body>
</html>
