<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Solicitação</title>

        <!-- Link Arquivo CSS Global -->
        <link rel="stylesheet" href="/static/CSS/global.css">
        <!-- Link Arquivo CSS -->
         <link rel="stylesheet" href="/static/CSS/RF003-solic.css">
        <!-- Link Arquivo JS -->
         <script defer src="/static/JS/RF003-solic.js"></script>

    </head>
    <body>
        <!-- Área de Informação do Usuario -->
        <header>
            <section class="container-header">
                <div class="container-header_btn">
                    <button class="container-header_btn-voltar" href=''>Voltar</button>
                </div>
                <div class="container-header_data">
                    <p class="dia-semana">QUi</p><p class="dia">10</p><p class="mes">Set</p>
                </div>
            </section>
            <section class="container-header-user">
                <img src="" alt="Imagem de Perfil">
                <div class="container-header-user_info">
                    <h2 class="container-header-user_nome">Paulo de Oliveira</h2>
                    <p class="container-header-user_cargo">Professor</p>
                </div>
            </section>
        </header>
        <main>

        </main>
    </body>
</html>