<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/CSS/RF007-manutConfirm.css">
    <title></title>
</head>
<body>
    
    <nav>
        <div class="usuario">
            <h4>Administrador</h4>
            <img src="" alt="" class="usuario__imagem">
        </div>
    </nav>

    <main>
        <div class="container">
            <h3>Confirmar finalização de serviço</h3>

            <div class="container__situacao-tarefa">
            </div>
            <button class="container__botao-finalizar"><p>Finalizar tarefa</p></button>
            
        </div>
    </main>

    <footer>
    </footer>

</body>
</html>