<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/CSS/global.css">

    <link rel="stylesheet" href="/static/CSS/RF001-cad.css">
    <!-- Biblioteca jQuery para facilitar o uso de Ajax e manipulação de DOM -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <!-- link JS biblioteca SweetAlert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <title>EASY-REQUEST - Cadastro</title>
</head>
<body>
    <main class="main">
        <section class="form-container">
            <h2 class="form-container__title">Cadastro</h2>

                <!-- Seção de seleção de profissão -->
                <div class="form-container__input">
                    <!-- Rótulo para a seleção da profissão -->
                    <label for="funcao" class="form-container__label">Informe sua profissão:</label>
                    <!-- Campo de seleção com opções de profissão -->
                    <select id="funcao" name="funcao" class="form-container__select">
                        <option value="">Selecione...</option>
                        <option value="1">Técnico de Manutenção</option>
                        <option value="2">Instrutor</option>
                        <option value="3">Secretaria</option>
                        <option value="4">OPP</option>
                        <option value="5">Coordenador</option>
                        <option value="6">Diretor</option>
                        <option value="7">Outros</option>
                    </select>
                </div>

                <!-- Campo de entrada para o nome completo -->
                <div class="form-container__input">
                    <label for="nome" class="form-container__label">Nome completo:</label>
                    <input autocomplete="off" type="text" id="nome" name="nome" class="form-container__input-text" placeholder="Pedro Nascimento" required>
                </div>

                <!-- Campo de entrada para o CPF -->
                <div class="form-container__input">
                    <label for="cpf" class="form-container__label">CPF:</label>
                    <input autocomplete="off" type="text" id="cpf" name="cpf" class="form-container__input-text" placeholder="000.000.000-00" maxlength="14" required>
                </div>

                <!-- Campo de entrada para o SN -->
                <div class="form-container__input">
                    <label for="sn" class="form-container__label">SN:</label>
                    <input autocomplete="off" type="text" id="sn" name="sn" class="form-container__input-text" placeholder="SN0000000" required>
                </div>

                <!-- Campo de entrada para o e-mail -->
                <div class="form-container__input">
                    <label for="email" class="form-container__label">E-mail:</label>
                    <input autocomplete="off" type="email" id="email" name="email" class="form-container__input-text email" placeholder="exemplo@exemplo.com" required>
                </div>

                <!-- Campo de entrada para a senha -->
                <!-- Campo de entrada para a senha -->
                <div class="form-container__input">
                    <label for="senha" class="form-container__label">Senha:</label>
                    <input type="password" id="senha" name="senha" class="form-container__input-text senha" placeholder="Pelo menos 6 caracteres" required>
                    <div id="senha-requisitos" class="senha-requisitos hidden">
                        <p id="requisito1" class="requisito">Mínimo de 6 caracteres</p>
                        <p id="requisito2" class="requisito">Uma letra</p>
                        <p id="requisito3" class="requisito">Um número</p>
                        <p id="requisito4" class="requisito">Um caractere especial</p>
                        <p id="mensagem" class="mensagem hidden">Senha validada</p>
                    </div>
                </div>


                <!-- Campo de upload de foto -->
                <div class="form-container__input">
                    <label for="foto" class="form-container__label">Foto:</label>
                    <input type="file" id="foto" name="foto" class="form-container__input-file">
                </div>

                <!-- Botão de submissão do formulário -->
                <button class="form-container__button" onclick="cadastrar()">Cadastrar-se</button>
        </section>
    </main>
    <script src="/static/JS/RF001-cad.js" defer></script>
</body>
</html>
