<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Solicitação</title>

        <!-- Link Arquivo CSS Global -->
        <link rel="stylesheet" href="/static/CSS/global.css">
        <!-- Link Arquivo CSS -->
         <link rel="stylesheet" href="/static/CSS/RF003-solic.css">
        <!-- Link Arquivo JS -->
         <script defer src="/static/JS/RF003-solic.js"></script>
         <!-- Link para os ICONS -->
         <script src="https://kit.fontawesome.com/e9b74fb3c4.js" crossorigin="anonymous"></script>
         <!-- Link para o Ajax -->
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    </head>
    <body>
        <!-- Área de Informação do Usuario -->
        <header>
            <section class="container-header">
                <div class="container-header_btn">
                    <button class="container-header_btn-voltar" href=''><i class="fa-solid fa-arrow-left"></i>Voltar</button>
                </div>
                <div class="container-header_data">
                    <p class="dia-semana">Qui</p><p class="dia">10</p><p class="mes">Set</p>
                </div>
            </section>
            <section class="container-header-user">
                <img src="https://st4.depositphotos.com/11574170/25191/v/450/depositphotos_251916955-stock-illustration-user-glyph-color-icon.jpg" alt="Imagem de Perfil">
                <div class="container-header-user_info">
                    <h2 class="container-header-user_nome">{{campo_nome}}</h2>
                    <p class="container-header-user_cargo">{{campo_funcao}}</p>
                </div>
            </section>
        </header>
        <main>
            <section class="container-main">
                <div class="main-titulo-subtitulo">
                    <h1>Área de <p>Solicitação</p></h1>
                    <p class="subtitulo">Coloque as Informações sobre o Serviço...</p>
                </div>
                <div class="container-main_form">
                    <div class="form_select">
                        <select name="tipo-servico" id="tipo-servico">
                            <option value="">Tipo de Serviço</option>
                        </select>
                        <select name="bloco" id="bloco">
                            <option value="0">Blocos</option>
                        </select>
                        <select name="sala" id="sala">
                            <option value="0">Sala</option>
                        </select>
                    </div>
                    <div class="form_input-arquivo">
                        <label for="arquivo">Foto (Opcional):</label>
                        <input type="file" name="arquivo" id="arquivo">
                    </div>
                    <div class="form_adendo">
                        <label for="adendo">Adendo:</label>
                        <input type="text" id="adendo" name="adendo" placeholder="Digite informações adicionais..." maxlength="60">
                    </div>
                    <button type="submit" class="form_btn-enviar" onclick="fazerSolicitacao()">Enviar Solicitação</button>
                </div>
            </section>
        </main>
    </body>
</html>