<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/CSS/global.css">
    <link rel="stylesheet" href="/static/CSS/RF010-historicoRelatorio.css">

    <!-- Link para os ICONS -->
    <script src="https://kit.fontawesome.com/e9b74fb3c4.js" crossorigin="anonymous"></script>
    <title>Historico de relatorio</title>
</head>
<body>
    <header class="cabecalho">
        <h1 class="cabecalho__titulo">Histórico de serviços</h1>
        <nav class="cabecalho__pesquisa">
            <input type="text" class="cabecalho__input" placeholder="Pesquisar...">
            <button class="cabecalho__botao">
                <i class=" cabecalho__icone fa-solid fa-magnifying-glass"></i>
            </button>
        </nav>
    </header>
    
    <main class="conteudo">
        <div class="conteudo__card">
            <img src="heitor.jpg" alt="Foto de Heitor Lima" class="conteudo__imagem">
            <div class="conteudo__informacao">
                <h2 class="conteudo__nome">Heitor Lima <span class="conteudo__profissao">Pintor</span></h2>
                <p class="conteudo__descricao">Descrição: It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</p>
                <hr>
                <p class="conteudo__datas">Tarefa atribuída em: 22/07/2023</p>
                <p class="conteudo__datas">Tarefa finalizada em: 05/08/2023</p>
                <button class="conteudo__botao">Ver mais</button>
            </div>
        </div>
    </main>
</body>
</html>