<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Tela Inicial</title>

         <!-- Link Arquivo CSS Global -->
         <link rel="stylesheet" href="/static/CSS/global.css">
         <!-- Link Arquivo CSS -->
         <link rel="stylesheet" href="/static/CSS/TLadministrador.css">
         <!-- Link Arquivo JS -->
         <script defer src="/static/JS/TLadministrador.js"></script>
         <!-- Link para os ICONS -->
        <script src="https://kit.fontawesome.com/e9b74fb3c4.js" crossorigin="anonymous"></script>
        <!-- link Arquivo JS data -->
         <script defer src="/static/JS/funcao-data.js"></script>
         <script defer src = "/static/JS/funcao-horas.js"></script>

         <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=add" />
        <!-- link JS biblioteca SweetAlert -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=add" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=add" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=add" />
    </head>
    <body>
        <header>
            <section class="container-header-user">
                <div class="info-usuario">
                    <figure><img src="https://st4.depositphotos.com/11574170/25191/v/450/depositphotos_251916955-stock-illustration-user-glyph-color-icon.jpg" alt="Imagem de Perfil"></figure>
                    <div class="container-header-user_info horas">
                        <h2 class="container-header-user_nome"> <span class="saudacao" id="saudacao"> </span>Jorge</h2>
                        <p class="container-header-user_cargo">Técnico</p>
                    </div>
                </div>
                <div class="container-header-data">
                    <div class="data">
                        <p class="dia-semana" id="dia-semana">Qui</p><p class="dia" id="dia">10</p><p class="mes" id="mes">Set</p>
                    </div>
                </div>
            </section>
        </header>
        <main class="container-baixo">
            <section class="container_baixo-ladoEsquerdo">
                <div class="ladoEsquerdo-txt">
                    <h2>Serviços<span class="destaque-txt"> Encaminhados</span></h2>
                    <hr>
                </div>
                <div class="ladoEsquerdo-conteudo">
                    <div class="ladoEsquerdo-card">
                        <p class="horario">10:30am</p>
                        <div class="card-conteudo">
                            <p class="bloco">Bloco A | sala 23</p>
                            <p class="urgencia">Urgente</p>
                            <a href=""><i class="fa-solid fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="button-container">
                   <a href="">
                    <button class="button">
                        <img src="/static/IMG/15.png" alt="Validação">
                        <p class="btn-txt">Validar finalização</p>
                    </button>
                   </a> 
                   <a href="">
                    <button class="button">
                        <img src="/static/IMG/14.png" alt="Encaminhamento">
                        <p class="btn-txt">Chamado em aberto</p>
                    </button>
                   </a>
                    <a href="">
                      <button class="button">
                        <img src="/static/IMG/13.png" alt="Relatorios">
                      
                    </button>  
                    </a>                  
                    <p class="btn-txt">Relatorios</p>
                  </div>
                  
            </section>
            <section>
                <button class="Btn">
                  
                  <div class="sign">
                    <span class="material-symbols-outlined">
                        add
                        </span>
                  
                  <div class="text">Chamado</div>
                </button>                                                  
            </section>
        </main>
    </body>
</html>